.header {
  padding-top: 33px;
  @media screen and (max-width: 480px) {
    display: none;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 33px;
  border-bottom: 1px solid $base-grey;
  &__inner {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }
  &__link {
    font-family: "Gilroy-500", sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: $base-grey;
    &--active {
      font-family: "Gilroy-700", sans-serif;
      color: $secondary;
    }
    &--large {
      font-size: 34px;
      line-height: 41px;
    }
  }
  &--mobile {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 40px;
    border-bottom: none;
  }
}

.header-mobile {
  display: none;
  &--visible {
    display: block;
  }
  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    background-color: $overlay;
    width: 100%;
    height: 100%;
    z-index: 11;
  }
  &__wrapper {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 187px;
    top: 0;
    right: 20px;
    z-index: 12;
    padding-top: 50px;
  }
  &__close {
    color: $secondary;
    &:hover {
      color: $base-grey;
    }
  }
}
