.header {
  padding-top: 33px;
  @media screen and (max-width: 480px) {
    display: none;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 33px;
  border-bottom: 1px solid $base-grey;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
  }
  &__link {
    font-family: "Gilroy-500", sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: $base-grey;
    &--checked {
      font-weight: 700;
      color: $secondary;
    }
  }
}
