@import "_variables.base";
@import "_mixins";

/*
  Import vendor libraries
*/
@import "vendor/_normalize";

/*
  Import utils classes and base styles
*/
@import "_utils";
@import "_base";

/*
  Import all other blocks
*/

@import "_blocks/container";
@import "_blocks/header";
@import "_blocks/menu-button";
@import "_blocks/footer";
@import "_blocks/modals";
@import "_blocks/swiper-bundle";

// @import "_blocks/modal";

.main {
  padding: 40px 0 60px 0;
  &__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 546px;
    margin-bottom: 36px;
  }
  &__info {
    max-width: 227px;
  }
  &__slider {
    max-width: 100%;
    margin: 0 auto;
  }
}

.slider {
  user-select: none;
  &__wrapper {
    overflow: hidden;
    margin-bottom: 30px;
  }
  &__inner-wrapper {
    display: flex;
    height: 100%;
  }
  &__slide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    height: 465px;
    color: $primary;
    &:nth-child(4n + 1) {
      background-color: tomato;
    }
    &:nth-child(4n + 2) {
      background-color: green;
    }
    &:nth-child(4n + 3) {
      background-color: blue;
    }
    &:nth-child(4n + 4) {
      background-color: teal;
    }
  }
  &__panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__dot {
    width: 10px;
    height: 10px;
    background-color: #e5e5e5;
    border: none;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    transition: background-color 0.4s;
    &:not(:last-child) {
      margin-right: 7px;
    }
    &--active {
      background-color: $secondary;
    }
    &:not(.slider__dot--active):hover,
    &:not(.slider__dot--active):focus {
      background-color: $base-grey;
    }
  }
  &__button {
    color: $secondary;
    transition: all 0.4s;
    &:not(:disabled):hover {
      color: $base-grey;
      cursor: pointer;
    }
    &:disabled {
      user-select: none;
      pointer-events: none;
      color: #e5e5e5;
    }
  }
}

@media screen and (max-width: 480px) {
  .main {
    padding: 30px 0 36px 0;
    &__block {
      align-items: flex-start;
      flex-wrap: wrap;
      row-gap: 20px;
    }
    &__info {
      max-width: 205px;
    }
  }
}

.about {
  background-color: #f6f6f6;
  padding: 60px 0 87px 0;
  &__title {
    margin-bottom: 50px;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 45px;
    margin: 0 auto;
    max-width: 578px;
  }
  &__info {
    position: relative;
    border: 2.5px solid $secondary;
    max-width: 478px;
    padding: 15px;
    &::before,
    &::after {
      content: "";
      position: absolute;
      right: 20px;
      bottom: -50px;
      border: 25px solid transparent;
      border-top: 25px solid $secondary;
    }
    &::after {
      border-top: 25px solid #f6f6f6;
      bottom: -48px;
    }
  }
  &__info--left {
    align-self: flex-end;
    &::before,
    &::after {
      right: 400px;
    }
  }
}

@media screen and (max-width: 648px) {
  .about {
    &__wrapper {
      max-width: 400px;
    }
    &__info {
      max-width: 100%;
    }
    &__info--left::before,
    &__info--left::after {
      right: 325px;
    }
  }
}

@media screen and (max-width: 480px) {
  .about {
    padding: 40px 0 65px 0;
    &__title {
      margin-bottom: 30px;
    }
    &__wrapper {
      max-width: 100%;
    }
    &__info--left::before,
    &__info--left::after {
      right: 200px;
    }
  }
}

.skills {
  padding: 60px 0 60px 0;
  &__title {
    margin-bottom: 20px;
  }
  &__info {
    text-align: center;
    margin-bottom: 50px;
  }
  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 22px;
  }
  &__program {
    text-align: center;
  }
}

.skill {
  font-family: "Gilroy-700";
  font-size: 14px;
  line-height: 17px;
  color: $base-grey;
}

.progress {
  display: flex;
  align-items: center;
  column-gap: 12px;
  &__line {
    width: 142px;
    height: 9px;
    background-color: #e5e5e5;
    &--html:before {
      @include progress(90%);
    }
    &--css:before {
      @include progress(85%);
    }
    &--js:before {
      @include progress(50%);
    }
    &--git:before {
      @include progress(50%);
    }
    &--figma:before {
      @include progress(80%);
    }
  }
}

@media screen and (max-width: 992px) {
  .skills {
    &__list {
      row-gap: 40px;
    }
  }
  .progress {
    column-gap: 10px;
    &__line {
      width: 111px;
    }
  }
}

@media screen and (max-width: 480px) {
  .skills {
    padding: 40px 0 40px 0;
    &__title {
      margin-bottom: 10px;
    }
    &__info {
      margin-bottom: 40px;
    }
  }
  .progress {
    &__line {
      width: 94px;
    }
  }
}

.swiper {
  width: 100%;
  height: 604px;
}

.portfolio {
  background-color: #f6f6f6;
  padding: 60px 0 60px 0;
  &__title {
    margin-bottom: 50px;
  }
  &__image {
    width: 100%;
    height: 604px;
  }
  &__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
    background-color: $secondary;
    opacity: 0.85;
    width: 100%;
    padding: 33px 0 33px 0;
  }
  &__info {
    font-family: "Gilroy-500", sans-serif;
    color: $primary;
    text-decoration: underline;
    text-decoration-style: dashed;
    text-align: center;
    max-width: 400px;
  }
  &__description {
    color: $primary;
    text-align: center;
    max-width: 400px;
  }
  &__button {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    z-index: 10;
    &--right {
      left: 940px;
    }
  }
  &__slide {
    &:nth-child(4n + 1) {
      background-color: tomato;
    }
    &:nth-child(4n + 2) {
      background-color: green;
    }
    &:nth-child(4n + 3) {
      background-color: blue;
    }
    &:nth-child(4n + 4) {
      background-color: teal;
    }
  }
}

@media screen and (max-width: 992px) {
  .portfolio__button {
    left: 17px;
    &--right {
      left: 605px;
    }
  }
}

@media screen and (max-width: 648px) {
  .portfolio__button {
    left: 0;
    &--right {
      left: 450px;
    }
  }
}

@media screen and (max-width: 480px) {
  .portfolio {
    padding: 40px 0 40px 0;
    &__title {
      margin-bottom: 30px;
    }
    &__button--right {
      left: 255px;
    }
    &__overlay {
      padding: 20px 15px;
    }
    &__info {
      max-width: 160px;
    }
  }
}

.sign-in--visible,
.register--visible,
.send-message--visible {
  visibility: visible;
}

.profile {
  padding: 40px 0 60px 0;
  &__title {
    margin-bottom: 40px;
  }
  &__wrapper {
    display: flex;
    column-gap: 105px;
  }
  &__image {
    width: 320px;
    height: 450px;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
  }
  &__info {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    max-width: 254px;
  }
  &__button {
    margin-top: 10px;
  }
}

@media screen and (max-width: 992px) {
  .profile {
    &__wrapper {
      column-gap: 76px;
    }
  }
}

@media screen and (max-width: 648px) {
  .profile {
    &__title {
      margin-bottom: 36px;
    }
    &__wrapper {
      flex-direction: column;
      row-gap: 40px;
    }
    &__image {
      object-fit: cover;
      width: 280px;
    }
  }
}

.blog {
  padding: 40px 0 60px 0;
  &__title {
    margin-bottom: 40px;
  }
}

.filter-form {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  &__subtitle {
    margin-bottom: 10px;
  }
  &__tags {
    margin-right: 75px;
  }
  &__views {
    margin-right: 70px;
  }
  &__comments {
    margin-right: 137px;
  }
  &__show {
    margin-right: 76px;
  }
  &__sort {
    margin-right: 48px;
  }
  &__button {
    align-self: center;
  }
}

.tags {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 5px;
  column-gap: 5px;
  max-width: 116px;
  &__item {
    width: 25px;
    height: 25px;
  }
}

.filter-list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.search-form {
  display: flex;
  column-gap: 30px;
  align-items: center;
  padding: 35px 0 20px 0;
  &__input {
    flex-basis: 100%;
    border: 2.5px solid #e5e5e5;
    min-height: 50px;
    padding: 0;
  }
}

@media screen and (max-width: 1200px) {
  .filter-form {
    justify-content: space-between;
    row-gap: 30px;
    column-gap: 35px;
    &__tags,
    &__views,
    &__comments,
    &__show,
    &__sort {
      margin-right: 0;
    }
  }
}

@media screen and (max-width: 768px) {
  .filter-form {
    justify-content: flex-start;
    column-gap: 50px;
    &__comments {
      order: 1;
    }
    &__views {
      order: 2;
    }
    &__sort {
      order: 3;
      margin-right: 35px;
    }
    &__show {
      order: 4;
    }
    &__tags {
      order: 5;
    }
    &__button {
      order: 6;
    }
  }
}

@media screen and (max-width: 480px) {
  .filter-form {
    row-gap: 25px;
    &__sort {
      margin-right: 0;
    }
  }
  .search-form {
    flex-direction: column;
    align-items: flex-end;
    row-gap: 20px;
    &__input {
      width: 100%;
    }
  }
}
