<section class="modal editing-password">
  <h1 class="hidden">Editing Password</h1>
  <div class="overlay"></div>
  <div class="modal__dialog">
    <button class="button-link modal__close">
      <svg width="26" height="26">
        <use xlink:href="./img/sprite.svg#close"></use>
      </svg>
    </button>
    <form name="editingPassword" class="form">
      <div>
        <label for="oldPassword" class="form__label form__label--required"
          >Old password</label
        >
        <input
          type="password"
          id="oldPassword"
          name="oldPassword"
          class="form__input"
        />
      </div>
      <div>
        <label for="newPassword" class="form__label form__label--required"
          >New password</label
        >
        <input
          type="password"
          id="newPassword"
          name="newPassword"
          class="form__input"
        />
      </div>
      <div>
        <label for="newPasswordRepeat" class="form__label form__label--required"
          >Repeat new password</label
        >
        <input
          type="password"
          id="newPasswordRepeat"
          name="newPasswordRepeat"
          class="form__input"
        />
      </div>
      <button type="submit" class="button modal__button">
        Change password
      </button>
    </form>
  </div>
  <div class="loader loader--js hidden">
    <div class="loader__inner"></div>
  </div>
  <div class="modal dialog">
    <div class="overlay"></div>
    <div class="modal__dialog">
      <button class="button-link modal__close modal__close--js">
        <svg width="26" height="26">
          <use xlink:href="./img/sprite.svg#close"></use>
        </svg>
      </button>
      <div class="modal__message"></div>
    </div>
  </div>
</section>
