<footer class="footer">
  <div class="container">
    <h2 class="subtitle footer__title">Contacts</h2>
    <div class="footer__contacts">
      <p class="info footer__info">
        Want to know more or just chat? You are welcome!
      </p>
      <button class="button footer__button" type="button">Send message</button>
      <ul class="social footer__social">
        <li><a href="#" class="button" target="_blank">Instagram</a></li>
        <li><a href="#" class="button" target="_blank">Vk</a></li>
        <li><a href="#" class="button" target="_blank">Telegram</a></li>
        <li><a href="#" class="button" target="_blank">Mail</a></li>
        <li><a href="#" class="button" target="_blank">GitHub</a></li>
        <li><a href="#" class="button" target="_blank">Phone</a></li>
      </ul>
      <div class="footer__bottom">
        <span class="footer__sign"
          >Design by
          <a
            href="https://dlacademy.ru/"
            target="_blank"
            class="footer__sign--link"
            >DL Academy</a
          ></span
        >
        <span class="footer__sign">Program code from Rita</span>
      </div>
    </div>
  </div>
</footer>
