<header class="header header--mobile">
  <div class="container container--mobile">
    <div class="header__overlay"></div>
    <button class="button-link header__close">
      <svg width="26" height="26">
        <use xlink:href="../../img/sprite.svg#dark-close"></use>
      </svg>
    </button>
    <nav>
      <ul class="nav nav--mobile">
        <li>
          <a
            href="../../index.html"
            class="nav__link nav__link--large nav__link--active"
            >Home</a
          >
        </li>
        <li>
          <ul class="nav__inner">
            <li class="nav__item nav__item--blog-js hidden">
              <a
                href="../../blog.html"
                class="nav__link nav__link--large nav__link--blog-js"
                >My blog</a
              >
            </li>
            <li class="nav__item nav__item--profile-js hidden">
              <a
                href="../../profile.html"
                class="nav__link nav__link--large nav__link--profile-js"
                >My Profile</a
              >
            </li>
            <li class="nav__item nav__item--login-js">
              <button
                type="button"
                class="button-link nav__link nav__link--large nav__link--sign-js"
              >
                Sign in
              </button>
            </li>
            <li class="nav__item nav__item--register-js">
              <button
                type="button"
                class="button-link nav__link nav__link--register-js"
              >
                Register
              </button>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>
