<div class="panel">
  <button
    class="button-link panel__button @@class__button @@class__button--prev-js"
  >
    <svg width="42" height="42">
      <use xlink:href="./img/sprite.svg#button-prev"></use>
    </svg>
  </button>
  <div class="@@class__pagination @@class__pagination--js"></div>
  <button
    class="button-link panel__button @@class__button @@class__button--next-js"
  >
    <svg width="42" height="42">
      <use xlink:href="./img/sprite.svg#button-next"></use>
    </svg>
  </button>
</div>
