<section class="modal sign-in">
  <h1 class="hidden">Sign in</h1>
  <div class="overlay"></div>
  <div class="modal__dialog">
    <button class="button-link modal__close">
      <svg width="26" height="26">
        <use xlink:href="./img/sprite.svg#close"></use>
      </svg>
    </button>
    <form method="post" name="signIn" class="form">
      <div>
        <label for="signInEmail" class="form__label form__label--required"
          >Email</label
        >
        <input type="text" id="signInEmail" name="email" class="form__input" />
      </div>
      <div>
        <label for="signInPassword" class="form__label form__label--required"
          >Password</label
        >
        <input
          type="password"
          id="signInPassword"
          name="password"
          class="form__input"
        />
      </div>
      <button type="submit" class="button modal__button">Log in</button>
    </form>
  </div>
  <div class="loader loader--js hidden">
    <div class="loader__inner"></div>
  </div>
  @@include('blocks/dialog.html')
</section>
